<br>
<br>
<br>
<br>
            <div class="container" style="text-align:center;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>CrowdBrewed.com</h2>
                            <p class="item-intro text-muted">Crowd funding marketplace for craft breweries and distilleries.</p>
                            <img class="img-responsive img-centered" src="/assets/crowdbrewed2.png" alt="">
                            <br>
                            <p style="text-align:left;">Think of Crowdbrewed as kickstarter.com but specifically focused on craft breweries and distilleries. The platform is already built and has had some success with funding projects for breweries. It's a more expensive investment than we would normally look at, but the founders have told me they'd be open to a smaller "buyou" number if they retain equity.</p>
                            <p style="text-align:left;">
                                <strong>Why are we interested?</strong> Craftbrewing is a growing industry, this business has an underdeveloped marketing strategy and the owners have offered a great price.</p>
                                <p style="text-align:left;"><a href="https://flippa.com/5769460-craft-beer-crowdfunding-site-with-1-926-uniques-mo-and-lively-social-presence">See the full Flippa listing here.</a></p>
                            <ul class="list-inline" style="text-align:left;">
                                <li>Price: &#36;25,000</li>
                                <li>Target Return: 5x</li>
                                <li>Minimum Investment: &#36;1,000</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-ct-checkout="bld.crowdbrewed-com"><i class="fa fa-plus"></i> Let's BLD It</button>
                        </div>
                    </div>
                </div>
            </div>

            