<br>
<br>
<br>
<br>
            <div class="container" style="text-align:center;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>HoneyDipped.com</h2>
                            <p class="item-intro text-muted">Drop ship business gold plating apple watches.</p>
                            <img class="img-responsive img-centered" src="/assets/honeydipped2.png" alt="">
                            <br>
                            <p style="text-align:left;">A drop-shipping business with strong margins. Honeydipped.com sells both pre-made gold plated watches and a gold plating service for anyone who owns apple watches. The business is built to be completely hands off for the owner/manager. The current owner has not invested any time in building out social media.</p>
                            <p style="text-align:left;">
                                <strong>Why are we interested?</strong> Strong margins, an immediate opportunity to grow through social media and a strong google ranking.</p>
                                <p style="text-align:left;"><a href="https://flippa.com/5771095-300-margin-apple-watch-gold-plating-business-top-ranked-turn-key-dropshipped">See the full Flippa listing here.</a></p>
                            <ul class="list-inline" style="text-align:left;">
                                <li>Price: &#36;7,500</li>
                                <li>Target Return: 5x</li>
                                <li>Minimum Investment: &#36;500</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-ct-checkout="bld.honeydipped-com"><i class="fa fa-plus"></i> Let's BLD It</button>
                        </div>
                    </div>
                </div>
            </div>

            