<br>
<br>
<br>
<br>
            <div class="container" style="text-align:center;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Northern Loom</h2>
                            <p class="item-intro text-muted">Boutique women's clothing shop selling exclusively through instagram.</p>
                            <img class="img-responsive img-centered" src="/assets/northernloom.png" alt="">
                            <br>
                            <p style="text-align:left;">Most of us know nothing about fashion, so this might be a challenging business to grow. We're intrigued by the instagram business model, number of followers and average monthly revenue of &#36;5,000. Without any web based marketing, there could be a lot of opportunity for growth.</p>
                            <p style="text-align:left;">
                                <strong>Why are we interested?</strong> &#36;20,000 in revenue during its first four months, 50% operating margin and 12,000 instagram followers make &#36;32,000 seem like a steal.</p>
                            <ul class="list-inline" style="text-align:left;">
                                <li>Price: &#36;32,000</li>
                                <li>Target Return: 5x</li>
                                <li>Minimum Investment: &#36;1,000</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-ct-checkout="bld.northern-loom"><i class="fa fa-plus"></i> Let's BLD It</button>
                        </div>
                    </div>
                </div>
            </div>

            