<br>
<br>
<br>
<br>
            <div class="container" style="text-align:center;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>TotwlLondon.com</h2>
                            <p class="item-intro text-muted">Lifestye and apparel webiste targetting millenials in London.</p>
                            <img class="img-responsive img-centered" src="/assets/totwl.png" alt="">
                            <br>
                            <p style="text-align:left;">A small apparel and lifestyle focused ecommerce website. The brand is young but has identified an interesting niche of millenials in the UK. We think the brand's look and feel has application in the U.S. and other countries.</p>
                            <p style="text-align:left;">
                                <strong>Why are we interested?</strong> Even in its early stages, it has over 2,000 instagram followers and a clear pipeline for sales growth.</p>
                            <ul class="list-inline" style="text-align:left;">
                                <li>Price: &#36;4,000</li>
                                <li>Target Return: 5x</li>
                                <li>Minimum Investment: &#36;250</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-ct-checkout="bld.top-of-the-world-london"><i class="fa fa-plus"></i> Let's BLD It</button>
                        </div>
                    </div>
                </div>
            </div>

            