<br>
<br>
<br>
<br>
            <div class="container" style="text-align:center;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>VinylLoop.com</h2>
                            <p class="item-intro text-muted">Limited release of independent artists' vinyl recordings.</p>
                            <img class="img-responsive img-centered" src="/assets/vinylloop1.png" alt="">
                            <br>
                            <p style="text-align:left;">This website is especially interesting with our group's collective connection to the music industry and ability to use our network to find artists. This business contracts with artists to make exclsuive content for vinyl recordings that it exclusively releases to it's email list. Revenue has been consistent but they have yet to tap into its potential.</p>
                            <p style="text-align:left;">
                                <strong>Why are we interested?</strong> The price seems reasonable, there hasn't been much put into actual growth initiatives for the business and we can connect with bigger artists.</p>
                                <p style="text-align:left;"><a href="https://flippa.com/5845797-leading-vinyl-record-ecommerce-brand-store">See the full Flippa listing here.</a></p>
                            <ul class="list-inline" style="text-align:left;">
                                <li>Price: &#36;10,000</li>
                                <li>Target Return: 5x</li>
                                <li>Minimum Investment: &#36;500</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-ct-checkout="bld.vinylloop-com"><i class="fa fa-plus"></i> Let's BLD It</button>
                        </div>
                    </div>
                </div>
            </div>

            